body{
background:#0f172a;
color:white;
font-family:Arial;
margin:0;
text-align:center;
}

nav{
background:#111827;
padding:15px;
}

nav h2{
color:#4ade80;
}

.hero{
margin-top:40px;
}

.profile{
width:150px;
border-radius:50%;
margin-top:20px;
}

section{
margin:50px;
}

h1{
color:#22d3ee;
}

h2{
color:#4ade80;
}

.skills{
list-style:none;
padding:0;
display:flex;
justify-content:center;
gap:20px;
}

.skills li{
background:#1f2937;
padding:12px 20px;
border-radius:8px;
}

.projects{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
margin-top:20px;
}

.project-card{
background:#1f2937;
padding:20px;
width:220px;
border-radius:10px;
transition:0.3s;
}

.project-card:hover{
transform:scale(1.05);
}

button{
background:#22c55e;
border:none;
padding:10px 20px;
color:white;
border-radius:6px;
cursor:pointer;
margin-top:10px;
}

button:hover{
background:#16a34a;
}

footer{
margin-top:50px;
padding:20px;
background:#111827;
}